fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
bcrypt
passlib
cryptography
python-multipart
python-dotenv
pydantic
google-adk
google-genai
openai
dotenv
youtube-search-python
googlesearch-python
gunicorn
